@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-titulo: 2.2rem;
    --font-paragrafo: 1.2rem;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(236, 236, 236);
    background-image: url(/imagens/background-popcorn.jpg);
    background-size: 90px, 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin-top: 0;
    display: flex;
    justify-content: center;

}

/*HEADER*/
header {
    color: white;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(156, 40, 40);
}

header a {
    color: white;
    text-decoration: none;
}

#logo_container {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-between;
}



#botao-menu {
    height: 40px;
    margin-right: 10px;
    background-color: rgb(187, 158, 97);
    border-radius: 10px;
    transition: 0.5s;
    border: none;
}

#botao-menu:hover {
    background-color: rgb(255, 217, 136);
    margin-top: -2px;
}

.div_header_titulo {
    font-family: 'Pacifico', cursive;
}

.div_header_titulo {
    display: flex;
    margin: 0px;
    font-size: 1.5rem;
    justify-content: center;
    transition: 1s;
}

.div_header_titulo:hover {
    color: rgb(255, 217, 136);
}


.botaoHomeLink {
    margin-left: 5px;
}



.div_header_titulo {
    display: flex;
    margin: 0px;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

/*SECTION FORMS*/

.div_help {
    margin: 1%;
    padding-bottom: 5px;
    display: flex;
    width: 70%;
    height: 92%;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(187, 158, 97, .7);

}

ul,
li {
    width: 380px;
    display: flex;
    margin: 0px;
    margin-right: 5px;
    padding: 5px;
}

.div_help>ul {
    padding-right: 50px;
    display: block;
    align-items: center;
    flex-basis: 40%
}


div h2 {
    margin-top: 5%;
    font-size: var(--font-titulo);  
}

div p {
    margin-top: 5px;
    font-size: var(--font-paragrafo);
    line-height: 30px;
    text-align: justify;
}

div input {
    height: 27px;
    width: 160%;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
}

div textarea {
    width: 160%;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
}

.div_help_input {
    margin-top: 5%;
    margin-left: 14%;
    flex-basis: 40%;
    padding-bottom: 20px;
}

#input_nome {
    width: 45%;
    padding-bottom: 10px;
}

#input_email {
    width: 45%;
    padding-bottom: 10px;
}

#input_assunto {
    width: 45%;
    padding-bottom: 10px;
}

#input_msg {
    width: 45%;
}

div input[type=submit] {
    margin-top: 5px;
    color: white;
    background-color: rgb(156, 40, 40);
    border-radius: 5px;
    width: 70px;
    height: 35px;
    border: 1px solid black;
    transition: 0.5s;
}
div input[type=submit]:hover{
   background-color: rgb(235, 118, 118);
}

footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(156, 40, 40);
}

/* MENSAGEM BEM VINDO E JS*/

#bv_container {
    display: flex;
    justify-content: right;
    width: 18%;
}

#bem_vindo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    min-width: fit-content;
}

#bem_vindo span {
    color: rgb(255, 217, 136);
}

/* MEDIA */
@media (max-width: 1200px) {
    header {
        width: 100%;
        height: 7%;
    }

    header nav {
        margin-right: 50px;
    }

    #logo_container {
        width: 25%;
    }

    .div_help {
        width: 100%;
    }
    .div_help_input {
        margin-bottom: 50px;
    }
}


@media (max-width: 780px) {
    header {
        min-height: 10%;
        width: 100%;
        display: flex;
        justify-content: baseline;
    }
    main{
        margin: 30px;
        padding: 30px;
        width: 90%;
    }
    #logo_container {
        max-width: 200px;
    }

    #botao-menu {
        font-size: 13px;
    }

    .nav {
        margin-right: 3px;
    }
    .div_help {
      flex-direction: column;
    }
    #div_help_ul{
        margin-top: 30px;
        width: 100%;
        margin-left: 10%;
    }

    .div_help_input {
        margin-bottom: 50px;

    }
}

@media (max-width: 730px) {
    header {
        width: 100%;
        height: 10%;
    }

    #bv_container {
        min-width: 150px;
    }

    .div_header_titulo {
        min-width: 50px;
    }

    #logo_container {
        width: 50%;
    }

    footer {
        font-size: 14px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 665px) {

    #logo_container {
        width: 70%;
    }
    #botao-menu {
        width: 21%;
        font-size: 12px;
    }
    footer {
        font-size: 11px;
        display: flex;
        text-align: left;
        width: 100%;
    }
}

@media (max-width: 620px) {
header{
    min-block-size: 20%;
    flex-direction: column;
}
main{
   min-width: 100%;
   margin-left: -5px; 
    
}

  #bv_container{
    max-height: 10px;
    
  }
  #div_help{
    margin-right: 20px;
  }
  #botao-menu{
    margin-right: 12px;
    margin-bottom: 15px;
  }
  
}