*{
    padding: 0px !important;
    margin: 0px !important;
}

body{
    height: 100vh;
    width: 100vw;
}

header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    background-color: rgb(148, 148, 148)

}

header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
header ul {
    list-style: none;
}

nav,ul,li {
    display: flex;
    margin: 0px;
    margin-right: 5px;
    font-size: 1.5rem;
    transition: color 0.2s;
    padding: 10px !important;
}

.botaoHomeLink{
    margin-left: 5px;
}

a:hover{
    color: rgb(58, 157, 245);
}

.div_header_titulo{
    display: flex;
    margin: 0px;
    font-size: 1.5rem;
    justify-content: center;
  
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82%;
    width: 100%;
}

#slide{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 30%;
    background-color: blue;
}

#carouselExampleCaptions{
    height: 100%;
    width: 100%;
}

