@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
    --font-titulo:2.2rem;
    --font-paragrafo:1.2rem;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(236, 236, 236);
    background-image: url(./imgFundo.jpeg);
    background-size: 90px, 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin-top: 0;
    display: flex;
    justify-content: center;

}

/*HEADER*/
header {
    color: white;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(156, 40, 40);
}

header a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .div_help {

        width: 100%;
        height: 100vw;
        flex-direction: column;
    }

    .div_help_input {
        margin-bottom: 50px;

    }
}

@media (max-width: 412px) {
    header {
        height: 20%;
        flex-direction: column;
    }

    main {
        width: 100%;
        font-size: 10px;
        flex-direction: column;
        align-items:center;
    }

    #div_help_ul {
        height: 60%;
        margin: 0px;
        padding: 0px;
        width: 100%;
        flex-direction: column;
        text-align: left;
    }

    .div_help_input {
        height: 50%;
        width: 120%;
        margin-bottom: 30px;
    }
    footer{
    font-size: 14px;
    }
}

#botao-menu {
    height: 40px;
    margin-right: 10px;
    background-color: rgb(187, 158, 97);
    border-radius: 10px;
    transition: 0.5s;
    border: none;
}

#botao-menu:hover {
    background-color: rgb(255, 217, 136);
    transition: 0.7s;
    margin-top: -2px;
}

.div_header_titulo {
    font-family: 'Pacifico', cursive;
}

.div_header_titulo {
    display: flex;
    margin: 0px;
    font-size: 1.5rem;
    justify-content: center;
    transition: 1s;
}

.div_header_titulo:hover {
    color: rgb(255, 217, 136);
}

nav,
ul,
li {
    display: flex;
    margin: 0px;
    margin-right: 5px;
    font-size: 1.5rem;
    transition: color 0.2s;
    padding: 5px;

}

.botaoHomeLink {
    margin-left: 5px;
}

a:hover {
    color: rgb(58, 157, 245);
    transition: .7s;
    margin-top: -2px;
}

.div_header_titulo {
    display: flex;
    margin: 0px;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

/*SEETION FORMS*/

.div_help {
    margin: 1%;
    padding-bottom: 5px;
    display: flex;
    width: 70%;
    height: 90%;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.7);

}

.div_help>ul {
    padding-right: 50px;
    display: block;
    align-items: center;
    flex-basis: 40%
}

div h2 {
    margin-top: 10%;
    font-size: var(--font-titulo);
    font-family: Arial, Helvetica, sans-serif;
}

div p {
    margin-top: 5px;
    font-size: var(--font-paragrafo);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    text-align: justify;
}

div input {
    height: 30px;
    width: 140%;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
}

div textarea {
    width: 140%;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
}

.div_help_input {
    margin-top: 5%;
    margin-left: 5%;
    flex-basis: 40%;
    justify-content: center;
    padding-bottom: 20px;
}

#input_nome {
    width: 45%;
}

#input_email {
    width: 45%;
}

#input_assunto {
    width: 45%;
}

#input_msg {
    width: 45%;
}

#input_botao_enviar:hover:focus {
    background: aliceblue;
    transition: 0.7s;
    margin-top: -2px;
}

div input[type=submit] {
    margin-top: 5px;
    color: white;
    background-color: rgb(49, 124, 245);
    border-radius: 5px;
    width: 70px;
    height: 35px;
    border: 1px solid black;
}

div textarea :focus,
div input:focus {
    background-color: aliceblue;
}

footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(156, 40, 40);
}