@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../../imagens/background-popcorn.jpg);
    background-size: 90px 90px;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

#liveAlert {
    text-align: center;
}

#card_container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {

    transition: 0.5s;
    background: rgb(156, 40, 40);
    width: 22rem;
    height: 22rem;
    border-radius: 20px;
    border: rgb(187, 158, 97) 0.5rem solid;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 30px 0;
    box-shadow: 5px 5px 4px rgb(0, 0, 0, 0.5);
}

#card:hover {
    border-color: rgb(255, 217, 136);
}

#card > img {
    width: 8rem;
    border-radius: 50%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

#content > label {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#content > input, textarea {
    width: 90%;
    height: 20px;
    border-radius: 15px;
    padding: 20px;
    border: none;
    outline: none;
    margin-top: 5px;
    font-weight: 500;
    background-color: #171518;
    text-align: center;
    color: #fff;
}

#card > button {
    width: 70%;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgb(187, 158, 97);

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #171518;
    text-decoration: none;

    font-size: 15px;
    box-shadow: 5px 5px 4px rgb(0, 0, 0, 0.5);
}


#card > button:hover {
    transition: 0.5s;
    background-color: rgb(255, 217, 136);
    transform: translateY(1px);
    box-shadow: none;
}
